<h2>Recently Updated<small>Whats new..</small></h2>

<% @products.each do |product| %>
<article class="products span2">
    <%= image_tag(product.image) %>
    <h5><%= product.name %></h5>
    <small>$<%= product.price %></small>
    <% if (product.stock_quantity > 0) %>
        <p><b>Stock:</b> <%= product.stock_quantity %></p>
    <% else %>
        <p><b>Out of stock!</b></p>
    <% end if %>
    <%= link_to 'View Details', product %>
</article>
<% end %>