<p id="notice"><%= notice %></p>

<h2><%= @product.name %></h2>

<%= image_tag(@product.image, :alt => @product.name, :class => "boxart") %>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Stock quantity:</b>
  <%= @product.stock_quantity %>
</p>

<p>
  <b>Platform:</b>
    <% case @product.platform_id %>
    <% when 1 %>
      Xbox 360
    <% when 2 %>
      Playstation 3
    <% when 3 %>
      Nintendo Wii
    <% when 4 %>
      PC
  <% end %>
</p>

<%= link_to 'Back', products_path %>
